body {
    height: 500vh;
    margin: 0px;
    background-color: hsl(217, 28%, 15%);
    color: hsl(0, 0%, 100%);
}
    
.container {
    background-image: url(images/bg-curvy-desktop.svg);
    background-position: 0px 150px;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    text-align: center;
    justify-content: center;
    
}
.main-heading {
    background-color: hsl(218, 28%, 13%);
    margin: 0px;
}
.nav-tab {
    display: flex;
    justify-content: space-between;
    margin: 25px 30px 0px 35px;
}
.tab-left {
    display: flex;  
    justify-content:space-around;
}
.tab-left p {
    margin-left: 30px;
}
.first-level {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.first-level img {
    width: 550px;
    height: 400px;
    
}

.first-level h2 {
    font-weight: 700;
}
.btn {
    background-color: hsl(176, 68%, 64%);
    border-radius: 50px;
}