.contentwrapper {
    background-color: hsl(217, 28%, 15%);
    width: 100%;
    margin: 0px;
    color: hsl(0, 0%, 100%);
    background-image: url(./images/bg-curvy-desktop.svg);
    background-position: 0px 32em;
    background-size: 84em 350px;
    background-repeat: no-repeat;
    line-height: 25px;
    padding-top: 20px;
    
}
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
b {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.nav-tab {
    display: flex;
    margin: 35px 50px 0px 35px;
    justify-content: space-between;
    
}
.righttab{
    display: flex;
}
.righttab p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-left: 25px;
    font-size: 14px;
}
.firstclass {
    text-align: center;
    margin-top: 30px;
}
.center {
    max-width: 500px;
    text-align: center;
    margin-left: 450px;
}
.btn {
    width: 200px;
    height: 40px;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    border-radius: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.first {
    margin-left: 120px; 
}
.btn h5 {
    padding-top: 9px;
    font-size: 15px;
}

.container {
    background-color: hsl(218, 28%, 13%);
    margin-top: 80px;
    display: block;
    text-align: center;
}
.secondclass {
    display: grid;
    grid-template-columns: 480px 50px;
    grid-gap: -50px;
    justify-content: baseline;
    margin-left: 250px;
}
.f-r {
   width: 345px;
   padding: 0px 0px 40px 0px;
}
.s-r {
    width: 370px;
    padding:0px 0px 30px 0px;
}
.thirdclass {
    display: flex;
    margin: 30px 0px 20px 180px;
}
.right {
    max-width: 500px;
    text-align: start;
    margin: 65px 0px 0px  50px;
}
.right h2 {
    max-width: 250px;
}
.underline {
    color: hsl(176, 68%, 64%);
    opacity: 70%;
}
h1 {
    width: 140px;
    height: 0px;
    border: solid hsl(176, 68%, 64%) 1px;
    background-color: hsl(176, 68%, 64%);
    border-radius: 10%;
    margin-top: -12px;
    opacity: 70%;
}
.fourthclass {
    display: flex;
    margin-top: 90px;
    justify-content: center;
}
.box {
    width: 310px;
    height: 175px;
    background-color: hsl(219, 30%, 18%);
    border: solid hsl(219, 30%, 18%) 1px;
    border-radius: 5px;
    margin-left: 30px;
    padding: 10px;
    text-align: start;
    box-shadow: hsl(217, 28%, 15%) 10px 10px 10px;
    line-height: 25px;
    position: relative;
}
.box p {
    max-width: 290px;
}
.fourth {
    position: relative;
    right: -77px;
    top: -35px;
}
.testimonial > img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 7px;
    margin-right: -75px;
}
.testimonial {
    display: flex;
}
.author {
    margin-left: 90px;
    margin-top: 10px;
    line-height: 5px;
}
.author p {
    font-size: x-small;
}

.signup {
    width: 750px;
    height: 220px;
    background-color: hsl(217, 28%, 15%);
    border-radius: 5px;
    margin-left: 200px;
    position: relative;
    z-index: 5;
    top: 5em;
    left: 60px;
    padding: 20px;
    font-weight: 700;
}
.signin {
    max-width: 610px;
    height: 170px;
    text-align: center;
    margin-left: 60px;
}
.input {
    margin-top: 50px;
    display: flex;
    max-width: 650px;
    text-align: center;
    position: absolute;
    bottom: 5px;
}
input {
    width: 400px;
    height: 45px;
    border-radius: 30px;
    border: none;
    padding-left: 3rem;
}
.second {
    height: 45px; 
    margin-left: 17px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}
.second h4 {
    margin-top: 12px;
    
}
.footer {
    height: 400px;
    background-color: hsl(216, 53%, 9%);
    position: relative;
    z-index: 1;
}
.information {
    padding: 90px 0px 0px 150px;
}
.infocenter {
    display: flex;
}
.Contacts {
    width: 700px;
    display: flex;
    grid-gap: 40px;
}
.location {
    line-height: 30px;
    display: flex;
    grid-gap: 15px;
    max-width: 330px;
}
.location img {
    margin-top: 25px;
}
.phone {
    display: flex;
    grid-gap: 25px;
}
.phone img {
    margin-top: 18px;
}
.mail {
    display: flex;
    grid-gap: 25px;
}
.mail img {
    margin-top: 18px;
}
.ourinfo {
    display: flex;
    grid-gap: 60px;
}

.hide {
    color: hsl(0, 100%, 63%);
    margin-left: -600px;
    margin-top: 40px;
    visibility: hidden;
}
h3, h2, h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
h2 {
    font-size: 25px;
}

.righttab p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.underline:hover {
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}
.btn:hover {
    background-image: linear-gradient(hsl(176, 68%, 64%),hsl(176, 68%, 64%));  
    cursor: pointer;
}
.second:hover + .hide {
    display: block;
    visibility: visible;
}
.icons {
    font-size: 2em;
    float: right;
    margin-left: 4em;
    margin-top: 18px;
}

.icon {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}

.icon-box {
    width: 35px;
    height: 35px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    transition: .4s ease-in-out;
    vertical-align: middle;
    margin-left: 5px;
}

.second-info p:hover, .first-info p:hover{
    cursor: pointer;
    color: white;
    font-size: 1rem;
}
.icon-box:hover {
    color: hsl(176, 68%, 64%);
    border: solid hsl(176, 68%, 64%) 1px;
    cursor: pointer;
}

@media(max-width:768px) {
    .contentwrapper {
        width: 790px;
        background-image: url(./images/bg-curvy-mobile.svg);
        background-size: 790px 390px;
        background-position: 20px 450px;
        margin: 0;
    }
    .container {
        background-color: hsl(218, 28%, 13%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-top: 70px;
        margin-top: -1px;
    }
    .center {
        max-width: 360px;
        margin: .5em 0px 0px 15em ;
    }
    .first {
        margin-left: 4em;
    }
    .secondclass {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0px;
        grid-gap: 30px;
    }
    .thirdclass {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
    .right h2 {
       max-width: 409px;
    }
    .right p {
        max-width: 409px;
        white-space: wrap;
        font-size: large;
        
    }
    .fourthclass {
        flex-direction: column;
        margin: 0px;
        
    }
    .fourth {
        width: 45px;
       top: 29px;
       left: 35px;
    }
    
    .box {
        margin-top: 20px;
    }
    .signup {
        width: 450px;
        height: 400px;
        display: block;
        margin: 0px;
        margin-right: 95px;
        top: 100px;
    }
    .signin p {
        max-width: 270px;
    }
    .signin h2 {
        max-width: 300px;
    }
    .input {
        display: block;
        top: 230px;
    }
    input {
        width: 230px;
    }
    .second {
        width: 230px;
        height: 45px;
        padding: 5px;
        margin-top: 10px;
    }
    .hide {
        margin: 0px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .footer {
        height: 900px;
        top: -90px;
    }
    .information {
      padding: 220px 0px 0px 70px;  
    }
    .infocenter {
        display: flex;
        flex-direction: column;
    }
    .Contacts, .ourinfo {
        display: block;
    }
    .second-info {
      padding-top: 0px;  
    }
    .icons {
        margin: 0px;
        text-align: center;
    }
}

